name: Build and Deploy

# 触发条件:推送到 main 分支时
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    # 检出代码
    - uses: actions/checkout@v3

    - uses: pnpm/action-setup@v2
      with:
        version: latest
    
    # 设置 Node.js 环境
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: latest
    
    # 安装依赖
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    
    # 构建项目
    - name: Build
      run: pnpm run build
      env:
        BASE_URL: /${{ github.event.repository.name }}/
    
    # 部署到 GitHub Pages
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist